.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin:0;
}
.render{
    display: block;
    margin-top: 60px;
    height: calc(100% - 60px);
    width: 80%;
    background-color: rgb(226, 226, 226);
}
.modelProperties{
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    width: 20%;
    margin-top: 60px;
    /* border-left: 2px solid rgb(166, 166, 166); */
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: var(--background);
    row-gap: 10px;
}
.title{
    font-size: 32px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    font-weight: lighter;
    /* color: rgb(45, 45, 45); */
    font-style: italic;

}
.extension{
    font-style: italic;
    font-size: 18px;
    font-weight: lighter;
}